name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Dependencies
        run: npm ci
      - name: Run Linting Tests
        run: npm run lint
      - name: Run unit tests
        run: npm test