name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Dependencies
        run: npm ci
      - name: Run Linting Tests
        run: npm run lint
      - name: Run unit tests
        run: npm test